.DS_Store
config.inc.php

adodb5/

avibase/junk
avibase/*.sql

bhl_coverage/junk

cleaning/ion-clustering/tmp
cleaning/ion-clustering/*.sql
cleaning/ion-clustering/*.txt
cleaning/ion-ris/junk
cleaning/ion-ris/*.ris
cleaning/ion-ris/*.sql
cleaning/ion-ris/*.txt
cleaning/ion-ris/*.html

darwincore/junk
darwincore/doi/junk

darwincore-couchdb

europeana/uk-rbge

gbif-backbone-2013-07-02

hostparser/junk
hostparser/*.sql

ion-extinct/junk

ion-harvest/html*
ion-harvest/rdf*
ion-harvest/*.sql

ion-harvest/Net/.svn
ion-harvest/Net/DNS/.svn
ion-harvest/Net/DNS/RR/.svn


ipni/archives
ipni/junk
ipni/theplantlist
ipni/*.ris
ipni/*.sql

journals/images
journals/issn

# manuscript


phylota

pdf/


pdf-join/junk

pdf-name-extraction/junk
pdf-name-extraction/pdf

publications/citeproc
publications/junk
publications/*.ris
publications/*.txt

taxonconcept/gbif_mapping.txt

taxonconcept/gbif/
taxonconcept/junk/
taxonconcept/local/
taxonconcept/tmp/

tesseract/


ZoologicalRecord/

zootaxa/junk

cookie.txt

# Databases
*.db
*.cdb

# PDF extraction
pdf-name-extraction/*
