.DS_Store
config.inc.php

adodb5/

cleaning/ion-ris/junk
cleaning/ion-ris/*.ris

darwincore/junk
darwincore/doi/junk

journals/images
journals/issn

# manuscript

phylota

pdf/

publications/junk

taxonconcept/gbif_mapping.txt

taxonconcept/gbif/
taxonconcept/junk/
taxonconcept/local/
taxonconcept/tmp/

cookie.txt

# Databases
*.db
*.cdb

# PDF extraction
pdf-name-extraction/*
